
#Print
```
# This is formatted as code
```

In [ ]:
print("Hello Neurons")

Hello Neurons

In [ ]:
print("greetings from iNeuron")

greetings from iNeuron

#Comments <-- markdown

In [ ]:
# say hello to the students
print("Hi Students")

Hi Students

In [ ]:
# say hello to the students
#print("Hi Students")

# Multi line Comments

In [ ]:
"""multi 
line
comments
check
"""
print("hi")

hi

In [ ]:
#multi
#line
#comment
#check
print("hi")

hi

# More Exceptional Cases in Print Statement

In [ ]:
print('Hi my name is "Lakshay" ')

Hi my name is "Lakshay"

In [ ]:
print("""My name is "Lakshay" """)

My name is "Lakshay"

#Variables

In [ ]:
x = 10

In [ ]:
print(x)

10

In [ ]:
y = 20

In [ ]:
print(y)

20

In [ ]:
print(x+y)

30

1. Variables names should start with Alphabets
2. Variables name should not contain any special charachter like ^ $ % ! @ # ( )
3. Variable name can contain number but we can't start with numbers
4. Its not strict rule that you should start variable names with a Capital Letter. But its recommended to use small letters

In [ ]:
ten = 10
ten_number = 10
tenNumber = 10

In [ ]:
ten* = 10

SyntaxError: ignored

In [ ]:
ten2 = 1

# Fundamental Data Types

# Integers

In [ ]:
a = 7

In [ ]:
type(a)

int

In [ ]:
b = 7777777

In [ ]:
type(b)

int

## floats - numbers containing decimal numbers

In [ ]:
pi = 3.14

In [ ]:
type(pi)

float

# Complex numbers

In [ ]:
a = 2+3j

In [ ]:
a

(2+3j)

In [ ]:
 a.real

2.0

In [ ]:
a.imag

3.0

#Dynamic Typing

int a = 22; # in C or C++

In [ ]:
a = 22
print(type(a))
a= 22.2
print(type(a))
a = "Lakshay"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

# Strong Typing

In [ ]:
"Day " + 1

TypeError: ignored

In [ ]:
"Day " + "1"

'Day 1'

In [ ]:
print("Hi welcome to class of python language")

Hi welcome to class of python language

In [ ]:
print("Hi welcome to class of java language")

Hi welcome to class of java language

In [ ]:
language = "Python"
print("Hi welcome to class of " +language+ " language")  # allowed but rarely used

Hi welcome to class of Python language

In [ ]:
# f -> formatted string method
language = "Python"
print(f"Hi welcome to class of {language} language")  # current standard approach used in python

Hi welcome to class of Python language

In [ ]:
language = "Python"
num = "first"
print(f"Hi today is the {num} class of {language} language")

Hi today is the first class of Python language

In [ ]:
language = "Python"
num = "first"
print("Hi today is the {} class of {} language" .format(num,language)) # old way of wiritng

Hi today is the first class of Python language

In [2]:
a = 22
b = 34
c = a+b
print(f"The sum of both the numbers {a} and {b} is {c}")

The sum of both the numbers 22 and 34 is 56

#Boolean
True False

In [5]:
one = True
two = False

print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [6]:
class_starts_at = 3
you_came_at = 4
you_understood_all_concepts = you_came_at < class_starts_at

print(f"You understood everything? : {you_understood_all_concepts}")

You understood everything? : False

In [7]:
class_starts_at = 3
you_came_at = 2
you_understood_all_concepts = you_came_at < class_starts_at

print(f"You understood everything? : {you_understood_all_concepts}")

You understood everything? : True

In [9]:
is_raining = True
umberalla_carry = True
go_to_college = is_raining == umberalla_carry
go_to_college

True